node_modules
*.log
.DS_Store
.Trashes
*.swp
*.lock
*~.nib
build/
DerivedData/
*.pbxuser
*.mode1v3
xcuserdata
xcuserdata/
*.moved-aside
*.pid
app-cov
coverage.html
public/bower_components
bower_components
reports
.tmp
.sass-cache
.idea
TEST-all.html
coverage.html
reports
__pycache__
*.log
venv
*.pyc
data.sqlite
.log